body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 36px;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.btn:active {
	background: #1A572A;
	color: #1A572A;
	text-shadow: -2px -2px 0px #92DA35;
}

.navbar-default .navbar-brand {
	color: #1A572A!important;
	text-shadow: 2px 2px 0px #92DA35;
	font-size:35px;
	font-weight:bold;
	padding:10px 15px;
}

.navbar-default .navbar-text{
	color:white!important;
	font-weight:bold;
}

.btn {
	border-color:#2D793A;
	border-radius:7px;
	border:0px;
	padding:10px 15px;
	box-shadow: 0px 4px 1px #4F8020;
	color: #1A572A;
	text-shadow: 2px 2px 0px #92DA35;
	font-size:35px;
	font-weight:bold;

	background-repeat:no-repeat;
	/* IE10 Consumer Preview */ 
	background-image: url('../shine.png'), -ms-linear-gradient(top, #B1D567 0%, #5FA029 100%);

	/* Mozilla Firefox */ 
	background-image: url('../shine.png'), -moz-linear-gradient(top, #B1D567 0%, #5FA029 100%);

	/* Opera */ 
	background-image: url('../shine.png'), -o-linear-gradient(top, #B1D567 0%, #5FA029 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: url('../shine.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #B1D567), color-stop(1, #5FA029));

	/* Webkit (Chrome 11+) */ 
	background-image: url('../shine.png'), -webkit-linear-gradient(top, #B1D567 0%, #5FA029 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: url('../shine.png'), linear-gradient(to bottom, #B1D567 0%, #5FA029 100%);
}

.navbar-default {
background-color: #1A572A;
border-color: #869D34;
padding:10px 15px;
}